In [2]:
import pandas as pd
import datetime
from random import randint
from time import sleep
import os
import requests
import json

In [3]:
# Get game dates of games played

url = "https://en.wikipedia.org/wiki/List_of_Stanley_Cup_champions"

stanleycup_champs = pd.read_html(url)

stanleycup_byyear_df = stanleycup_champs[2]
stanleycup_byyear_df.head()

,Year,Winning team,Coach,Games,Losing team,Coach.1,Winning goal
0,1927,"Ottawa Senators (C) (5, 4–1)",Dave Gill,2–0,"Boston Bruins (A) (1, 0–1)",Art Ross,"Cy Denneny (7:30, second)"
1,1928,"New York Rangers (A) (1, 1–0)",Lester Patrick-playing,3–2,"Montreal Maroons (C) (2, 1–1)",Eddie Gerard,"Frank Boucher (3:35, third)"
2,1929,"Boston Bruins (A) (2, 1–1)",Art Ross,2–0,"New York Rangers (A) (2, 1–1)",Lester Patrick,"Bill Carson (18:02, third)"
3,1930,"Montreal Canadiens (C) (6, 3–2)",Cecil Hart,2–0,"Boston Bruins (A) (3, 1–2)",Art Ross,"Howie Morenz (1:00, second)"
4,1931,"Montreal Canadiens (C) (7, 4–2)",Cecil Hart,3–2,"Chicago Black Hawks (A) (1, 0–1)",Dick Irvin,"Johnny Gagnon (9:59, second)"

In [4]:
# Find Winning Teams from 1991-2002

stanleycup_winner_cleaned_df = stanleycup_byyear_df.loc[stanleycup_byyear_df['Year'].between(1992,2022)]
stanleycup_winner_cleaned_df = stanleycup_winner_cleaned_df[["Year", "Winning team"]]

stanleycup_winner_cleaned_df.reset_index(drop=True, inplace=True)

stanleycup_winner_cleaned_df["Year"] = (stanleycup_winner_cleaned_df["Year"] -1).map(str) + (stanleycup_winner_cleaned_df["Year"]).map(str)
stanleycup_winner_cleaned_df["Winning team"] = stanleycup_winner_cleaned_df["Winning team"].str.split('(').str[0]

stanleycup_winner_cleaned_df.drop(stanleycup_winner_cleaned_df[(stanleycup_winner_cleaned_df['Year'] == "20042005")].index, inplace=True)
stanleycup_winner_cleaned_df.rename(columns={"Winning team":"Team Name"}, inplace=True)
stanleycup_winner_cleaned_df["Team Name"] = stanleycup_winner_cleaned_df["Team Name"].str.strip()

# Change names 
stanleycup_winner_cleaned_df["Team Name"] = stanleycup_winner_cleaned_df["Team Name"].str.replace("Montreal Canadiens", "Montréal Canadiens")
stanleycup_winner_cleaned_df

        Year            Team Name
0   19911992  Pittsburgh Penguins
1   19921993   Montréal Canadiens
2   19931994     New York Rangers
3   19941995    New Jersey Devils
4   19951996   Colorado Avalanche
5   19961997    Detroit Red Wings
6   19971998    Detroit Red Wings
7   19981999         Dallas Stars
8   19992000    New Jersey Devils
9   20002001   Colorado Avalanche
10  20012002    Detroit Red Wings
11  20022003    New Jersey Devils
12  20032004  Tampa Bay Lightning
14  20052006  Carolina Hurricanes
15  20062007        Anaheim Ducks
16  20072008    Detroit Red Wings
17  20082009  Pittsburgh Penguins
18  20092010   Chicago Blackhawks
19  20102011        Boston Bruins
20  20112012    Los Angeles Kings
21  20122013   Chicago Blackhawks
22  20132014    Los Angeles Kings
23  20142015   Chicago Blackhawks
24  20152016  Pittsburgh Penguins
25  20162017  Pittsburgh Penguins
26  20172018  Washington Capitals
27  20182019      St. Louis Blues
28  20192020  Tampa Bay Lightning
29  20202021  Tampa Bay Lightning
30  20212022   Colorado Avalanche

In [5]:
# Find Losing Team from 1991-2002

stanleycup_losing_cleaned_df = stanleycup_byyear_df.loc[stanleycup_byyear_df['Year'].between(1992,2022)]
stanleycup_losing_cleaned_df = stanleycup_losing_cleaned_df[["Year", "Losing team"]]
stanleycup_losing_cleaned_df.reset_index(drop=True, inplace=True)

stanleycup_losing_cleaned_df["Year"] = (stanleycup_losing_cleaned_df["Year"] -1).map(str) + (stanleycup_losing_cleaned_df["Year"]).map(str)

stanleycup_losing_cleaned_df["Losing team"] = stanleycup_losing_cleaned_df["Losing team"].str.split('(').str[0]

stanleycup_losing_cleaned_df.drop(stanleycup_losing_cleaned_df[(stanleycup_losing_cleaned_df['Year'] == "20042005")].index, inplace=True)

stanleycup_losing_cleaned_df.rename(columns={"Losing team":"Team Name"}, inplace=True)
stanleycup_losing_cleaned_df["Team Name"] = stanleycup_losing_cleaned_df["Team Name"].str.strip()

# Change names 
stanleycup_losing_cleaned_df["Team Name"] = stanleycup_losing_cleaned_df["Team Name"].str.replace("Montreal Canadiens", "Montréal Canadiens")
stanleycup_losing_cleaned_df["Team Name"] = stanleycup_losing_cleaned_df["Team Name"].str.replace("Minnesota North Stars", "Dallas Stars")
stanleycup_losing_cleaned_df["Team Name"] = stanleycup_losing_cleaned_df["Team Name"].str.replace("Mighty Ducks of Anaheim", "Anaheim Ducks")

stanleycup_losing_cleaned_df

        Year             Team Name
0   19911992    Chicago Blackhawks
1   19921993     Los Angeles Kings
2   19931994     Vancouver Canucks
3   19941995     Detroit Red Wings
4   19951996      Florida Panthers
5   19961997   Philadelphia Flyers
6   19971998   Washington Capitals
7   19981999        Buffalo Sabres
8   19992000          Dallas Stars
9   20002001     New Jersey Devils
10  20012002   Carolina Hurricanes
11  20022003         Anaheim Ducks
12  20032004        Calgary Flames
14  20052006       Edmonton Oilers
15  20062007       Ottawa Senators
16  20072008   Pittsburgh Penguins
17  20082009     Detroit Red Wings
18  20092010   Philadelphia Flyers
19  20102011     Vancouver Canucks
20  20112012     New Jersey Devils
21  20122013         Boston Bruins
22  20132014      New York Rangers
23  20142015   Tampa Bay Lightning
24  20152016       San Jose Sharks
25  20162017   Nashville Predators
26  20172018  Vegas Golden Knights
27  20182019         Boston Bruins
28  20192020          Dallas Stars
29  20202021    Montréal Canadiens
30  20212022   Tampa Bay Lightning

In [6]:
# Get Team Name and associated with its ID in the NHL API JSON request

teamID_url = "https://statsapi.web.nhl.com/api/v1/teams"
   
response = requests.get(teamID_url)

response_json = response.json()
team_info = {}

for team in response_json["teams"]:
    team_id = team["id"]
    team_name = team["name"]
    team_info[team_id] = team_name
   
team_info_df = pd.DataFrame.from_dict(team_info, orient="index", columns=["Team Name"])
team_info_df.reset_index(inplace=True)
team_info_df.columns = ["Team ID", "Team Name"]

team_info_df

    Team ID              Team Name
0         1      New Jersey Devils
1         2     New York Islanders
2         3       New York Rangers
3         4    Philadelphia Flyers
4         5    Pittsburgh Penguins
5         6          Boston Bruins
6         7         Buffalo Sabres
7         8     Montréal Canadiens
8         9        Ottawa Senators
9        10    Toronto Maple Leafs
10       12    Carolina Hurricanes
11       13       Florida Panthers
12       14    Tampa Bay Lightning
13       15    Washington Capitals
14       16     Chicago Blackhawks
15       17      Detroit Red Wings
16       18    Nashville Predators
17       19        St. Louis Blues
18       20         Calgary Flames
19       21     Colorado Avalanche
20       22        Edmonton Oilers
21       23      Vancouver Canucks
22       24          Anaheim Ducks
23       25           Dallas Stars
24       26      Los Angeles Kings
25       28        San Jose Sharks
26       29  Columbus Blue Jackets
27       30         Minnesota Wild
28       52          Winnipeg Jets
29       53        Arizona Coyotes
30       54   Vegas Golden Knights
31       55         Seattle Kraken

In [7]:
# Merge dataframes to associate the Winning Team and Season won with the Team ID

stanleycup_winning_merge_byname_ID = pd.DataFrame.merge(stanleycup_winner_cleaned_df,team_info_df, on='Team Name', how='left')
stanleycup_winning_merge_byname_ID

        Year            Team Name  Team ID
0   19911992  Pittsburgh Penguins        5
1   19921993   Montréal Canadiens        8
2   19931994     New York Rangers        3
3   19941995    New Jersey Devils        1
4   19951996   Colorado Avalanche       21
5   19961997    Detroit Red Wings       17
6   19971998    Detroit Red Wings       17
7   19981999         Dallas Stars       25
8   19992000    New Jersey Devils        1
9   20002001   Colorado Avalanche       21
10  20012002    Detroit Red Wings       17
11  20022003    New Jersey Devils        1
12  20032004  Tampa Bay Lightning       14
13  20052006  Carolina Hurricanes       12
14  20062007        Anaheim Ducks       24
15  20072008    Detroit Red Wings       17
16  20082009  Pittsburgh Penguins        5
17  20092010   Chicago Blackhawks       16
18  20102011        Boston Bruins        6
19  20112012    Los Angeles Kings       26
20  20122013   Chicago Blackhawks       16
21  20132014    Los Angeles Kings       26
22  20142015   Chicago Blackhawks       16
23  20152016  Pittsburgh Penguins        5
24  20162017  Pittsburgh Penguins        5
25  20172018  Washington Capitals       15
26  20182019      St. Louis Blues       19
27  20192020  Tampa Bay Lightning       14
28  20202021  Tampa Bay Lightning       14
29  20212022   Colorado Avalanche       21

In [8]:
# Merge dataframes to associate the Losing Team and Season lost with the Team ID

stanleycup_losing_merge_byname_ID = pd.DataFrame.merge(stanleycup_losing_cleaned_df,team_info_df, on="Team Name", how='left')
stanleycup_losing_merge_byname_ID

        Year             Team Name  Team ID
0   19911992    Chicago Blackhawks       16
1   19921993     Los Angeles Kings       26
2   19931994     Vancouver Canucks       23
3   19941995     Detroit Red Wings       17
4   19951996      Florida Panthers       13
5   19961997   Philadelphia Flyers        4
6   19971998   Washington Capitals       15
7   19981999        Buffalo Sabres        7
8   19992000          Dallas Stars       25
9   20002001     New Jersey Devils        1
10  20012002   Carolina Hurricanes       12
11  20022003         Anaheim Ducks       24
12  20032004        Calgary Flames       20
13  20052006       Edmonton Oilers       22
14  20062007       Ottawa Senators        9
15  20072008   Pittsburgh Penguins        5
16  20082009     Detroit Red Wings       17
17  20092010   Philadelphia Flyers        4
18  20102011     Vancouver Canucks       23
19  20112012     New Jersey Devils        1
20  20122013         Boston Bruins        6
21  20132014      New York Rangers        3
22  20142015   Tampa Bay Lightning       14
23  20152016       San Jose Sharks       28
24  20162017   Nashville Predators       18
25  20172018  Vegas Golden Knights       54
26  20182019         Boston Bruins        6
27  20192020          Dallas Stars       25
28  20202021    Montréal Canadiens        8
29  20212022   Tampa Bay Lightning       14

In [9]:
# Get Roster for each Winning team per Season.  

player_list = []
base_url = "https://statsapi.web.nhl.com/api/v1/teams/{}?expand=team.roster&season={}"
for index, row in stanleycup_winning_merge_byname_ID.iterrows():
    team_ids = row ["Team ID"]
    # print(team_ids)
    year_cl= row ["Year"]
    # print(year_cl)
    url = base_url.format(team_ids, year_cl)
    # print(url)
    response = requests.get(url)
    data = response.json()
    
    for player in data["teams"][0]["roster"]["roster"]:
        
        person = player["person"]["fullName"]
        # Create dictionary
        player_id = player["person"]["id"]
        # Printing for testing purposes
        #print("Name:", person)
        #print("ID:", player_id)
        player_list.append({
            "Name":person,
            "Player ID":player_id,
            "Team ID": team_ids,
            "Season":year_cl
        })
winning_df=pd.DataFrame(player_list)
winning_df.head()

            Name  Player ID  Team ID    Season
0   Phil Bourque    8445629        5  19911992
1   Jay Caufield    8446013        5  19911992
2  Jeff Chychrun    8446050        5  19911992
3    Paul Coffey    8446117        5  19911992
4   Jeff Daniels    8446305        5  19911992

In [10]:
# Get Roster for each Losing team per Season
player_list = []
base_url = "https://statsapi.web.nhl.com/api/v1/teams/{}?expand=team.roster&season={}"
for index, row in stanleycup_losing_merge_byname_ID.iterrows():
    team_ids = row ["Team ID"]
    # print(team_ids)
    year_cl= row ["Year"]
    # print(year_cl)
    url = base_url.format(team_ids, year_cl)
    # print(url)
    response = requests.get(url)
    data = response.json()
    
    for player in data["teams"][0]["roster"]["roster"]:
        
        person = player["person"]["fullName"]
        # Create dictionary
        player_id = player["person"]["id"]
        # Printing for testing purposes
        #print("Name:", person)
        #print("ID:", player_id)
        player_list.append({
            "Name":person,
            "Player ID":player_id,
            "Team ID": team_ids,
            "Season":year_cl
        })
losing_df=pd.DataFrame(player_list)
losing_df.head()

            Name  Player ID  Team ID    Season
0      Rob Brown    8445689       16  19911992
1    Keith Brown    8445713       16  19911992
2     Rod Buskas    8445796       16  19911992
3    Shawn Byram    8445823       16  19911992
4  Chris Chelios    8446053       16  19911992

In [11]:
   
# Player Profile - Winning Team per Season

base_url = "https://statsapi.web.nhl.com/api/v1/people/{}"
player_ages = []
player_nationalities = []

for index, row in winning_df.iterrows():
    player_id = row["Player ID"]
    url = base_url.format(player_id)
    response = requests.get(url)
    data = response.json()

    player_age = data['people'][0]['birthDate']
    player_nationality = data['people'][0]['nationality']
    player_birthyear_yyyy = player_age[:4]
    winning_season_yyyy = row["Season"][4:]

    winning_age = (int(winning_season_yyyy)) - (int(player_birthyear_yyyy))
    
    player_ages.append(winning_age)
    player_nationalities.append(player_nationality)

In [12]:
winning_df["Age"] = player_ages
winning_df["Nationality"] = player_nationalities
winning_df.head()

            Name  Player ID  Team ID    Season  Age Nationality
0   Phil Bourque    8445629        5  19911992   30         USA
1   Jay Caufield    8446013        5  19911992   32         USA
2  Jeff Chychrun    8446050        5  19911992   26         CAN
3    Paul Coffey    8446117        5  19911992   31         CAN
4   Jeff Daniels    8446305        5  19911992   24         CAN

In [13]:
# Player Profile - Losing Team per Season
base_url = "https://statsapi.web.nhl.com/api/v1/people/{}"
player_ages = []
player_nationalities = []
for index, row in losing_df.iterrows():
    player_id = row["Player ID"]
    url = base_url.format(player_id)
    response = requests.get(url)
    data = response.json()

    player_age = data['people'][0]['birthDate']
    
    player_nationality = data['people'][0]['nationality']
    player_birthyear_yyyy = player_age[:4]
    losing_season_yyyy = row["Season"][4:]

    losing_age = (int(losing_season_yyyy)) - (int(player_birthyear_yyyy))
    
    player_ages.append(losing_age)
    player_nationalities.append(player_nationality)

In [14]:
losing_df["Age"] = player_ages
losing_df["Nationality"] = player_nationalities
losing_df.head()

            Name  Player ID  Team ID    Season  Age Nationality
0      Rob Brown    8445689       16  19911992   24         CAN
1    Keith Brown    8445713       16  19911992   32         CAN
2     Rod Buskas    8445796       16  19911992   31         CAN
3    Shawn Byram    8445823       16  19911992   24         CAN
4  Chris Chelios    8446053       16  19911992   30         USA

In [21]:
# Get averave age per season of winning seasons

for row in winning_df:
    avg_player_age = winning_df. groupby(by='Season')['Age'].mean().round()
avg_player_age_winning_df = pd.DataFrame(avg_player_age)
avg_player_age_winning_df

           Age
Season
19911992  28.0
19921993  26.0
19931994  29.0
19941995  28.0
19951996  26.0
19961997  29.0
19971998  29.0
19981999  29.0
19992000  28.0
20002001  28.0
20012002  31.0
20022003  29.0
20032004  29.0
20052006  29.0
20062007  28.0
20072008  30.0
20082009  28.0
20092010  27.0
20102011  28.0
20112012  27.0
20122013  27.0
20132014  28.0
20142015  28.0
20152016  28.0
20162017  28.0
20172018  27.0
20182019  28.0
20192020  28.0
20202021  28.0
20212022  27.0

In [22]:
# Get averave age per season of losing seasons
for row in losing_df:
    avg_player_age = losing_df. groupby(by='Season')['Age'].mean().round()
    
avg_player_age_losing_df = pd.DataFrame(avg_player_age)
avg_player_age_losing_df

           Age
Season
19911992  27.0
19921993  27.0
19931994  26.0
19941995  28.0
19951996  27.0
19961997  28.0
19971998  28.0
19981999  27.0
19992000  28.0
20002001  28.0
20012002  28.0
20022003  28.0
20032004  28.0
20052006  28.0
20062007  27.0
20072008  28.0
20082009  31.0
20092010  27.0
20102011  28.0
20112012  29.0
20122013  29.0
20132014  28.0
20142015  27.0
20152016  28.0
20162017  28.0
20172018  27.0
20182019  27.0
20192020  28.0
20202021  28.0
20212022  29.0

In [59]:
# Nationality Count from 19911992 season

player_nat_1992 = winning_df.loc[winning_df['Season'] == "19911992"]["Nationality"]
player_nat_1992.value_counts()

CAN    21
USA    10
CZE     2
SWE     2
KOR     1
GBR     1
Name: Nationality, dtype: int64

In [61]:
# Nationality Count from 20212022 season

player_nat_2022 = winning_df.loc[winning_df['Season'] == "20212022"]["Nationality"]
player_nat_2022.value_counts()

CAN    17
USA    10
FIN     4
SWE     3
RUS     2
CZE     2
DEU     1
Name: Nationality, dtype: int64